
.navbar {
    background-color: #9dffb0;
    height: 100px;
    font-size: 30px;
    font-family: "FinkHeavy", "Coustard";
    margin-left:-12px;
    width: 105%;
}

.navbar-brand {
    margin-top: -20px;
}

Link:active{
 color: #e1923f !important;
}

.d-flex {
    flex-direction: row;
}


