
.navbar {
    background-color: lightgreen;
    height: 100vh;
    width: 275px;
    font-size: 25px;
    font-family: "FinkHeavy", "Coustard";
    margin-left:-12px;
    margin-top: -10px;
    
}

.navbar-img {
    margin-top: -200px;
}

.navbar-nav {
    margin-top: -480px;
}

Link:active{
 color: #e1923f !important;
}

.d-flex {
    flex-direction: row;
}


