
.navbar {
    height: 101vh;
    width: 300px;
    font-size: 25px;
    font-family: "FinkHeavy", "Coustard";
    margin-left:-12px;
    margin-top: -10px;
    background: linear-gradient(135deg,#e3dfb5 75%,#f8f4c7);  
   
}

.navbar-img {
    margin-top: -200px;
}

.narbar-imgText {
    font-size:20px;
}

.navbar-nav {
    margin-top: -480px;
}

.nav-link {
    background: linear-gradient(90deg,#f8f4c7,#e3dfb5);  
    border-radius: 40px;

}
.nav-link:focus, .nav-link:hover {
    background: linear-gradient(10deg,#f8f4c7,#e3dfb5);  
    border-radius: 40px;

}

.d-flex {
    flex-direction: row;
}


.MuiDivider-root{
    border-color: gray !important;
    margin-left:-25px !important;


}