@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');

@font-face {
  font-family: "FinkHeavy";
  src: url("../public/assets/fonts/FinkHeavy.ttf") format("ttf");
  font-family: "Coustard-Regular";
  src: url("../public/assets/fonts/Coustard-Regular.ttf") format("ttf")
}

body {
  font-family: "FinkHeavy", "Coustard" !important;
  color: #23262a !important;

}

.container-fluid{
  height: 100vh;
  position: sticky;
}

h1 {
  color: #08100c !important;
}

.MuiButtonBase-root {
  height: 45px;
  background-color: #0cc6b8 !important;
  font-family: "FinkHeavy", "Coustard" !important;
  color: #f4f7f4 !important; 
  border-radius: 40px !important;
}

.MuiOutlinedInput-root{
  border-radius: 40px !important;
  background-color: #f4f7f4;
  color: #23262a !important;

}

.MuiFormLabel-root {
  height: 45px;
  color: #23262a !important;

}

.sellPriceTable {
  width:200px;
}

.MuiSvgIcon-root {
  color: f4f7f4 !important;  
}

.MuiTableContainer-root {
  max-height: 740px;
  scrollbar-color: #e3dfb5 #f8f4c7;
  scrollbar-width: thin;
  
}

.MuiTableHead-root {
  position: sticky;
  top: 0;
  background-color: #0cc6b8;
  z-index: 1;

}

.MuiTableBody-root {
  border-color: #fdc0c7;
}

.MuiMenuItem-root {
  color:#0cc6b8 !important;
  background-color: #f4f7f4 !important;
}

.MuiTableCell-root {
  font-weight: 400 !important;
}

.MuiTableContainer-root, .MuiPaper-root{
  border-radius: 14px!important;
  
}

.MuiSelect-select, .MuiOutlinedInput-root {
  border: 1px solid #e3dfb5;
}

.MuiSelect-select:active, .MuiOutlinedInput-root:active {
  border: 1px solid #0cc6b8 !important;
}

.MuiSvgIcon-root {
  color: #f8f4c7 !important;
}


.MuiTableCell-root{
  background-color: 1px solid #f4f7f4 !important;
  font-size: 16px !important;
  font-family: "FinkHeavy", "Coustard" !important;

}

.MuiTableBody-root {
  background-color: #f4f7f4 !important;
}

.MuiPaper-root {
  background-color: #08100c;
}